.at-a-glance-indicator {
    spacing: 0;
}

.at-a-glance-indicator:hover {
    background-color: rgb(43, 43, 43);
    border-radius: 16px;
}

.at-a-glance-indicator:active {
    background-color: rgb(71, 71, 71);
    border-radius: 16px;
}

.at-a-glance-media {
    spacing: 6px;
}

.at-a-glance-media-art {
    border-radius: 12px;
    min-width: 24px;
    min-height: 24px;
}

.at-a-glance-media-label {
    font-size: 9pt;
}
