.uadm-user-box {
  padding: 16px;
  spacing: 8px;
}

.uadm-avatar {
  width: 72px;
  height: 72px;
  border-radius: 99px;
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.uadm-name-box {
  spacing: 6px;
}

.uadm-realname {
  font-weight: bold;
  font-size: 14px;
}

.uadm-username {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
